<!DOCTYPE html>
<html>
  <head>
    <title>MidGreen</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script type="text/javascript">
      window.tree = "<%= image_url('tree.png') %>"
      window.earth = "<%= image_url('earth.png') %>"
      window.solar = "<%= image_url('solar.png') %>"
      window.hashTag = "<%= image_url('hashtag.png') %>"
      window.github = "<%= image_url('github.png') %>"
      window.linkedin = "<%= image_url('linkedin.png') %>"
      window.linkedin2 = "<%= image_url('linkedin-2.png') %>"
      window.email = "<%= image_url('email.png') %>"
      window.angellist = "<%= image_url('angellist.png') %>"
      window.medium = "<%= image_url('medium.png') %>"
      window.medium_black = "<%= image_url('medium_black.png') %>"
      window.medium_white = "<%= image_url('medium_white.png') %>"
      window.catIcons= ["<%= image_url('solar.png') %>", "<%= image_url('hashtag.png') %>","<%= image_url('ran-1.png') %>", "<%= image_url('hashtag.png') %>","<%= image_url('ran-2.png') %>", "<%= image_url('ran-3.png') %>", "<%= image_url('ran-4.png') %>", "<%= image_url('ran-5.png') %>", "<%= image_url('ran-6.png') %>","<%= image_url('hashtag.png') %>"]
    </script>

 <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">


<%= favicon_link_tag asset_path('favicon.ico') %>

  </head>

  <body>

    <%= yield %>
  </body>
</html>
